.s_designs
  background: #2C3D39
  padding: 20px 0 30px
  min-height: 100vh
  &_header
    align-items: baseline
    margin-bottom: 24px
    +r(767)
      margin-bottom: 30px
  &_heading
    max-width: 100%
    margin-right: 24px
  &_btn
    display: block
    flex-shrink: 0
    max-width: 138px
    width: 100%
  &_items
    margin: -20px -10px
    justify-content: flex-start
    flex-wrap: wrap
  &_item
    width: 25%
    padding: 20px 10px
    +r(1023)
      width: calc(100% / 3)
    +r(767)
      width: calc(100% / 2)
    +r(639)
      width: 100%
    &_wrap
      cursor: pointer
      display: block
      +r(639)
        max-width: 300px
        width: 100%
        margin: 0 auto
      &:hover
        .s_designs_title h2
          color: $blue
  &_img
    position: relative
    padding-bottom: 133.333%
    margin-bottom: 13px
    overflow: hidden
    &:hover
      img
        transform: scale(1.2)
    img
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      object-fit: cover
      transition: all 0.2s ease-in-out
  &_info
    vertical-align: baseline
  &_name
    margin-right: 8px
    display: inline-block
    p
      background: #fff
      display: inline-block
      font-size: 11px
      color: #000
      border-radius: 8px
      line-height: 1em
      vertical-align: middle
      padding: 2.5px 7px
  &_title
    display: inline
    h2
      display: inline
      transition: all 0.2s ease-in-out
