.s_edit
  background: #fff
  padding: 30px 0
  &_wrap
    justify-content: flex-start
    flex-wrap: wrap
  &_arrow
    margin-right: 38px
    display: block
    margin-bottom: 10px
    img,svg
      display: block
      max-width: 16px
      height: auto
  &_top
    margin-bottom: 27px
  &_col
    width: 20px
    margin-right: 12px
  &_num
    margin-bottom: 0
  &_number
    margin-right: 8px
    max-width: 80px
    width: 100%
  &_title
    max-width: 512px
    width: 100%
  &_top
    align-items: center
  &_content
    max-width: 600px
    width: 100%
    margin-bottom: 40px
  &_btns
    margin-left: auto
  &_link
    justify-content: flex-start
    align-items: center
    &_img
      svg, img
        display: block
        max-width: 100%
        height: auto
    .input-wrap
      max-width: 100%
      width: 100%
  &_delete
    margin-right: 8px
    button
      display: inline-block
      padding: 0 11px
      background: transparent
      line-height: 32px
      height: 32px
      text-align: center
      color: $red
      font-size: 14px
      font-family: 'Roboto'
      cursor: pointer
      border: 1px solid rgba(0, 0, 0, 0.2)
      border-radius: 3px
      transition: all 0.2s ease-in-out
      &:hover, &:focus, &:active
        background: $red
        color: #fff
  &_image
    margin-bottom: 27px
    padding-left: 32px
    label
      width: 120px
      height: 120px
      background: #fff
      border: 2px dashed rgba(0, 0, 0, 0.1)
      border-radius: 3px
      position: relative
      display: block
      cursor: pointer
      &::after,
      &::before
        position: absolute
        left: 50%
        top: 50%
        border-radius: 1px
        background: #C4C4C4
        transform: translate(-50%,-50%)
        content: ''
        display: block
        z-index: 1
      &::before
        height: 30px
        width: 1px
      &::after
        width: 30px
        height: 1px
      img
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%,-50%)
        width: calc( 100% + 4px)
        height: calc( 100% + 4px)
        object-fit: cover
        z-index: 2
        border-radius: 3px
    input
      font-size: 0
      visibility: hidden
      height: 0
      width: 0
