.site-button
  display: inline-block
  padding: 0 11px
  background: $blue
  line-height: 32px
  height: 32px
  text-align: center
  color: #fff
  font-size: 14px
  font-family: 'Roboto'
  cursor: pointer
  border: none
  transition: all 0.2s ease-in-out
  &:hover, &:focus, &:active
    background: $blue-light
