@import 'mixins'
@import 'vars'
@import 'buttons'
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&display=swap&subset=cyrillic-ext')
*
  box-sizing: border-box
  margin: 0
  padding: 0
  font-family: "Roboto"


h1,h2,h3,h4,h5
  margin: 0
  margin-bottom: 1em
  font-weight: 400
  &:last-child
    margin-bottom: 0


a
  text-decoration: none

h1,.h1
  font-size: 24px
  line-height: 1.4em
  color: #fff
  +r(767)
    font-size: 20px
h2,.h2
  font-size: 16px
  font-weight: 400
  line-height: 1.4em
  color: #fff



p
  margin: 0
  margin-bottom: 1em
  font-size: 14px
  line-height: 1.4em
  color: #000
  &:last-child
    margin-bottom: 0



.container
  max-width: 1324px
  padding: 0 32px
  margin: 0 auto
  +r(1023)
    padding: 0 16px


.fw
  display: flex
  justify-content: space-between
  align-items: flex-start


.input-wrap
  position: relative
  display: block
  border: 1px solid rgba(0, 0, 0, 0.2)
  transition: all 0.2s ease-in-out
  border-radius: 3px
  input
    background: transparent
    background: transparent
    outline: none
    display: block
    width: 100%
    max-width: 100%
    font-family: "Roboto"
    font-size: 14px
    padding: 0 11px
    height: 30px
    line-height: 30px
    border: none
    color: #000
    +placeholder
      color: rgba(0, 0, 0, 0.2)
    &:disabled, &:read-only
      color: rgba(0, 0, 0, 0.2)
  .error
    position: absolute
    top: calc( 100% + 1px)
    color: $red
    right: 0
    display: block
    text-align: right
    width: 100%
    transition: all 0.2s ease-in-out
    opacity: 0
    font-size: 11px
  &.input-error
    .error
      opacity: 1
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-butto
    -webkit-appearance: none
    appearance: none
    margin: 0


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0


input[type=number]
  -moz-appearance:textfield
