<template>
  <section class="s_edit">
    <div class="container">
      <form>
        <div class="s_edit_wrap fw">
          <router-link to="/" class="s_edit_arrow">
            <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0.36358 6.36358C0.0121076 6.71505 0.0121076 7.2849 0.363579 7.63637L6.36357 13.6364L7.63636 12.3636L3.27277 7.99997L16 7.99998L16 5.99998L3.27277 5.99997L7.63636 1.63638L6.36357 0.363586L0.36358 6.36358Z" fill="#222222"/>
            </svg>
          </router-link>
          <div class="s_edit_content">
            <div class="s_edit_top fw">
              <p class="s_edit_num s_edit_col">№</p>
              <div class="s_edit_number">
                <div class="input-wrap" :class="{'input-error': check && id.length == 0}">
                  <input type="number" name="number" v-model="id" placeholder="###" autocomplete="off" :disabled="currentElement">
                  <span class="error">Введите id</span>
                </div>
              </div>
              <div class="s_edit_title">
                <div class="input-wrap" :class="{'input-error': check && title.length == 0}">
                  <input type="text" name="title" v-model="title" placeholder="Design Title" autocomplete="off">
                  <span class="error">Введите название дизайна</span>
                </div>
              </div>
            </div>
            <div class="s_edit_image">
              <label>
                <input type="file" accept="" @change="uploadImage">
                <img :src="image" alt="">
              </label>
            </div>
            <div class="s_edit_link fw">
              <div class="s_edit_link_img s_edit_col">
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.8536 1.85362C10.7629 0.944314 12.2372 0.944298 13.1465 1.85359C14.0558 2.7629 14.0558 4.23717 13.1465 5.14648L10.1465 8.14648C9.23721 9.05579 7.76292 9.05579 6.85361 8.14647L6.14651 8.85358C7.44634 10.1534 9.55379 10.1534 10.8536 8.85358L13.8536 5.85359C15.1535 4.55376 15.1535 2.44631 13.8536 1.14649C12.5538 -0.153349 10.4463 -0.153301 9.1465 1.14651L7.14652 3.14646C6.95126 3.34172 6.95126 3.6583 7.14652 3.85356C7.34178 4.04883 7.65836 4.04883 7.85363 3.85357L9.8536 1.85362ZM4.85362 6.85358C5.76292 5.94427 7.2372 5.94427 8.14651 6.85358L8.85362 6.14647C7.55378 4.84664 5.44634 4.84664 4.14651 6.14647L1.1465 9.14648C-0.153326 10.4463 -0.153327 12.5538 1.1465 13.8536C2.44634 15.1534 4.55378 15.1534 5.85362 13.8536L7.85362 11.8536C8.04888 11.6583 8.04888 11.3417 7.85362 11.1465C7.65835 10.9512 7.34177 10.9512 7.14651 11.1465L5.14651 13.1465C4.2372 14.0558 2.76292 14.0558 1.85361 13.1465C0.944303 12.2372 0.944304 10.7629 1.85361 9.85358L4.85362 6.85358Z" fill="#222222"/>
                </svg>
              </div>
              <div class="input-wrap">
                <input type="text" name="link" v-model="link" readonly="readonly" placeholder="https://design###.horoshop.ua/" autocomplete="off">
              </div>
            </div>
          </div>
          <div class="s_edit_btns fw">
            <div class="s_edit_delete">
              <button @click.prevent="remove">Удалить</button>
            </div>
            <div class="s_edit_save">
              <button class="site-button" @click.prevent="save">Сохранить и закрыть</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</template>

<script>

export default {
  data: function(){
    return{
      title: '',
      id: '',
      image: '',
      check: false,
      currentElement: false,
    }
  },
  created(){
    let design = this.$store.getters.getCaseById(this.$route.params.id);
    if(design){
      this.currentElement = design;
      this.id = this.currentElement.id;
      this.title = this.currentElement.title;
      this.image = this.currentElement.img;
    } else if(this.$route.params.id){
      alert('Страницы по такому запросу не найдено');
      this.$router.push('/');
    }
  },
  methods: {
    uploadImage(e) {
      let files = e.target.files || e.dataTransfer.files;
      this.createImage(files[0]);
    },
    createImage(file) {
      let reader = new FileReader();
      reader.onload = (e) => {
        this.image = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    save(){
      this.check = true;
      if(this.id.toString().length > 0 && this.title.length > 0){
        let obj ={};
        obj.title = this.title;
        obj.id = this.id;
        obj.img = this.image;
        this.$store.dispatch('add',obj);
        this.check = false;
      }
    },
    remove(){
      this.$store.dispatch('remove',this.id);
      this.title = '';
      this.id = '';
      this.image = '';
      this.currentElement = false;
    },
  },
  computed: {
    link(){
      return `/edit/${this.id}`;
    },
  }
}
</script>


<style scoped lang="sass">
@import "../../assets/styles/components/edit"
</style>
