<template>
  <section class="s_designs">
    <div class="container">
      <div class="s_designs_header fw">
        <div class="s_designs_heading">
          <h1>Все дизайны</h1>
        </div>
        <router-link to="/add" class="s_designs_btn">
          <button class="site-button">Добавить дизайн</button>
        </router-link>
      </div>
      <div class="s_designs_items fw">
        <div class="s_designs_item" v-for="item in designs" :key="item.id">
          <router-link :to="'/edit/' + item.id" class="s_designs_item_wrap">
            <div class="s_designs_img">
              <img :src="item.img" alt="">
            </div>
            <div class="s_designs_info">
              <div class="s_designs_name">
                <p class="s_designs_ind">{{item.id}}</p>
              </div>
              <div class="s_designs_title">
                <h2>{{item.title}}</h2>
              </div>
            </div>
          </router-link>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data(){
    return{
      designs: this.$store.getters.getAllCases,
    }
  },
}
</script>


<style  lang="sass">
@import "../assets/styles/components/designs"
</style>
